---
import SkillsTitle from "./SkillsTitle.astro";
import "./styles/photo.css"
---
<div id="photo" class="photo text-white fixed z-50">
    <div class='absolute top-0 left-0 h-screen w-full z-0 myphoto'><img id="richi-photo" src="richicoder.png" alt="richicoder_profile_photo" class='absolute top-0 left-0 h-screen w-full object-cover'></div>
    <SkillsTitle /> 
    <div class="photolayer "></div>
    
    <div class="titleContainer absolute top-16 left-0 w-fit h-fit z-40">
    </div>

</div>