---
import ContactComponent from "@modules/contactPage/container/ContactComponent.astro"; 
import Layout from "../../layouts/Layout.astro";
export function getStaticPaths() {
  // we need to define all the possible react routes so astro knows to redirect here
  return [{ params: { route: undefined } }, { params: { route: "inputA" } }, { params: { route: "inputB" } }, { params: { route: "inputC" } }, { params: { route: "inputD" } }, { params: { route: "inputE" } }, { params: { route: "inputF" } }, { params: { route: "inputG" } }, { params: { route: "inputH" } }, { params: { route: "inputI" } }, { params: { route: "inputJ" } }, { params: { route: "formend" } }];
}
import "@styles/showContact.css"
import "@styles/spinner.css"
import "@styles/title.css"
---

<Layout title="Contact | richiCoder">
        <div class='h-screen w-screen bg-[rgb(12,12,12)] overflow-clip'>
            <ContactComponent />
        </div>
</Layout>

<style>
    .contact-form {
        color: purple;
    }
    :root {
        --accent: 124, 58, 237;
        --accent-gradient: linear-gradient(
        45deg,
        rgb(var(--accent)),
        #00407c 30%,
        white 60%
        );
    }
    .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
}
</style>