---
import DataForm from "../../components/DataForm";
import Layout from "../../layouts/Layout.astro";
export function getStaticPaths() {
  // we need to define all the possible react routes so astro knows to redirect here
  return [{ params: { route: undefined } }, { params: { route: "input" } }];
}
---

<Layout title="Contact | richiCoder">
    <div class='w-full h-screen flex flex-col items-center justify-center bg-[rgb(10,10,10)] text-white font-[Play] text-5xl'>
    <div class='contact-form'>Contact Form</div>

    <div>PAGE UNDER CONSTRUCTION</div>
        <DataForm client:only='react' />
        <br>
        <br>
    <div>richiCoder</div>
    </div>
</Layout>

<style>
    .contact-form {
        color: purple;
    }
</style>