---
import Review from "./Review";

function TweetReview(name, account, tweet, imageLink, tweetLink) {
    this.name = name,
    this.account = account,
    this.tweet = tweet,
    this.imageLink = imageLink,
    this.tweetLink = tweetLink 
}

// const tweetReviews = [
//     new TweetReview('richiCoder','RichiCoder','Checking @rapier. Looking really interesting!', 'https://pbs.twimg.com/profile_images/1643796021569306624/2I6ys15v_normal.jpg', 'https://twitter.com/RichiCoder/status/1670601467827306498?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1670601467827306498%7Ctwgr%5Ea22f13e948977bda90d9e4c01cc8a1005205d465%7Ctwcon%5Es1_&ref_url=https%3A%2F%2Fpublish.twitter.com%2F%3Fquery%3Dhttps3A2F2Ftwitter.com2FRichiCoder2Fstatus2F1670601467827306498widget%3DTweet'),
//     new TweetReview('richiCoder','RichiCoder','Checking @rapier. Looking really interesting!', 'https://pbs.twimg.com/profile_images/1643796021569306624/2I6ys15v_normal.jpg', 'https://twitter.com/RichiCoder/status/1670601467827306498?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1670601467827306498%7Ctwgr%5Ea22f13e948977bda90d9e4c01cc8a1005205d465%7Ctwcon%5Es1_&ref_url=https%3A%2F%2Fpublish.twitter.com%2F%3Fquery%3Dhttps3A2F2Ftwitter.com2FRichiCoder2Fstatus2F1670601467827306498widget%3DTweet'),
//     new TweetReview('Isaac','ulisac04','Excelente página, luce muy bien! @RichiCoder http://richicoder.com', 'https://pbs.twimg.com/profile_images/1588202832750149634/iIahDIiY_normal.jpg', 'https://twitter.com/ulisac04/status/1674602289535807490?ref_src=twsrc%5Etfw'),
//     new TweetReview('richiCoder','RichiCoder','Checking @rapier. Looking really interesting!', 'https://pbs.twimg.com/profile_images/1643796021569306624/2I6ys15v_normal.jpg', 'https://twitter.com/RichiCoder/status/1670601467827306498?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1670601467827306498%7Ctwgr%5Ea22f13e948977bda90d9e4c01cc8a1005205d465%7Ctwcon%5Es1_&ref_url=https%3A%2F%2Fpublish.twitter.com%2F%3Fquery%3Dhttps3A2F2Ftwitter.com2FRichiCoder2Fstatus2F1670601467827306498widget%3DTweet'),
//     new TweetReview('richiCoder','RichiCoder','Checking @rapier. Looking really interesting!', 'https://pbs.twimg.com/profile_images/1643796021569306624/2I6ys15v_normal.jpg', 'https://twitter.com/RichiCoder/status/1670601467827306498?ref_src=twsrc%5Etfw%7Ctwcamp%5Etweetembed%7Ctwterm%5E1670601467827306498%7Ctwgr%5Ea22f13e948977bda90d9e4c01cc8a1005205d465%7Ctwcon%5Es1_&ref_url=https%3A%2F%2Fpublish.twitter.com%2F%3Fquery%3Dhttps3A2F2Ftwitter.com2FRichiCoder2Fstatus2F1670601467827306498widget%3DTweet'),
// ] 

const tweetReviews = []
---

{
    tweetReviews.length > 0 ?
    <div id='reviews' class='relative w-full z-[60] pt-16'>
    
    <div class='w-full h-52 relative bg-[rgb(10,10,10)] overflow-clip -mt-1'>
        <div class='w-fit flex flex-row flex-nowrap gap-x-10 absolute top-2 left-0 moveTweets1'>
            {
                tweetReviews.map((tweet, index) => <Review tweetCard={tweetReviews[index]} client:only='react' />)
            }
        </div>
    </div>
    <div class='w-full h-52 relative bg-[rgb(10,10,10)] overflow-clip -mt-1'>
        <div class='w-fit flex flex-row flex-nowrap gap-x-10 absolute top-2 left-0 moveTweets2'>
            {
                tweetReviews.map((tweet, index) => <Review tweetCard={tweetReviews[index]} client:only='react' />)
            }
        </div>
    </div>
    </div> :
    null
}

<style>
    @media only screen and (min-width: 700px) {
        :root {
            --start: -10vw;
            --end: -30vw;
            --duration: 7s;
        }
    }
    @media only screen and (max-width: 699px) {
        :root {
            --start: 0vw;
            --end: -80%;
            --duration: 15s;
        }
    }
    .moveTweets1 {
        animation: moveTweets var(--duration) ease-in-out infinite alternate;
    }
    .moveTweets2 {
        animation: moveTweets var(--duration) ease-in-out infinite alternate-reverse;
        animation: name duration timing-function delay iteration-count direction fill-mode;
    }
    @keyframes moveTweets {
        0% {transform: translate(var(--start),0)}
        100% {transform: translate(var(--end),0)}
    }
</style>