---
import './styles/landscape.css'
---

<div id="landscape-modal" class="fixed top-0 left-0 bg-black w-screen h-screen text-white font-bold">
    <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 ">Please, use vertical orientation only!</div>
</div>