---
import ContactForm from "../components/[...route].astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contact | richiCoder">
    <div class='w-full h-screen flex flex-col items-center justify-center bg-[rgb(10,10,10)] text-white font-[Play] text-5xl'>
    <div class='contact-form'>Contact Form</div>

    <div>PAGE UNDER CONSTRUCTION</div>
        <ContactForm />
        <br>
        <br>
    <div>richiCoder</div>
    </div>
</Layout>

<style>
    .contact-form {
        color: purple;
    }
</style>