---
import Layout from "../layouts/Layout.astro";

---

<Layout title="Contact | richiCoder">
    <div class='w-full h-screen flex flex-col items-center justify-center bg-[rgb(10,10,10)] text-white font-[Play] text-5xl'>
    <div>Contact Form</div>

    <div>PAGE UNDER CONSTRUCTION</div>
        <br>
        <br>
    <div>richiCoder</div>
    </div>
</Layout>