---
import Layout from '../layouts/Layout.astro';
import FirstView from '../components/FirstView.astro';
import Project from '../components/Project.astro';
import Video from '../components/Video.astro';
import Title from '../components/Title.astro';
import Portfolio from '../components/Portfolio.astro';
import Shortbio from '../components/Shortbio.astro';
import Photo from '../components/Photo.astro';
import Contact from '../components/Contact.astro';
import Header from '../components/Header.astro';
import Bios from '../components/Bios.astro';


const gameProps = {
	id: "4PICS-1WORD",
	number: "01",
	app: "Web Game",
	description: "Multi Page App - React/Redux",
	mobileImage: "4pics_1word_mobile.png",
	desktopImage: "4pics_1word_desktop.png",
	demoURL: "https://pics-1word-6a8f0.web.app/",
	githubURL: "https://github.com/richi-coder/4pics-1word-richi-coder"
}
const ecommerceProps = {
	id: "RICHI-SHOP",
	number: "02",
	app: "Ecommerce Site",
	description: "Single Page App - React/Router",
	mobileImage: "richi_shop_mobile.png",
	desktopImage: "richi_shop_desktop.png",
	demoURL: "https://richi-shop.web.app/",
	githubURL: "https://github.com/richi-coder/richi-coder-portfolio"
}
const calculatorProps = {
	id: "CALCULATOR",
	number: "03",
	app: "Web App",
	description: "Single Page App - React",
	mobileImage: "4pics_1word_mobile.png",
	desktopImage: "4pics_1word_desktop.png"
}
---

<Layout title="richiCoder | React Developer | Frontend">
	<main class="main">
		<Header />
		<FirstView />
		<Photo />
		<!-- <Precomponent /> -->
		<Shortbio id='shortbio'>
			<Title id="shortbio-title" title="Bio" preTitle='richi' titleClass='absolute top-[85vh]' />
			<Bios />
		</Shortbio>
		
		<Portfolio>
			<Title id="projects-title" title="Projects" preTitle='richi' />
			<!-- <ProjectDetails /> -->
			<Project projectDetails={gameProps} />
			<!-- <Title client:load /> -->
			<Project projectDetails={ecommerceProps} />
			<Project projectDetails={calculatorProps} />
			
		</Portfolio>
		<Shortbio id='shortbio2' />
		<!-- <SkillsTitle /> -->
		<Video id="video" /> 
		<Contact  />
	</main>
</Layout>

<style>
	.main {
		margin: auto;
		padding: 0rem;
		/* background-color: rgb(10, 10, 10); */
		overflow-x: clip;
		scroll-behavior: smooth;
	}
	
	.instructions {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
	}
	.instructions code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.instructions strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>

