---
import DownloadResumeButton from "@modules/contact/DownloadResumeButton";
import Layout from "../layouts/Layout.astro";
import "@modules/styles/photo.css"
import "@styles/title.css";
import '@styles/presentationForm.css'
import EmailButton from "@modules/indexPage/EmailButton";
import EmailCopied from "@modules/indexPage/EmailCopied.astro";
---

<Layout title="Resume | richiCoder">
    <main class="bg-[rgb(10,10,10)] h-screen w-screen flex flex-col items-center justify-center gap-y-10">
        <div class='fixed top-0 left-0 h-screen w-full myphoto blur-md'><img id="richi-photo" src="richicoder.png" alt="richicoder_profile_photo" class='absolute top-0 left-0 h-screen w-full object-cover'></div>
        <span class='fixed top-0 left-0 h-screen w-full bg-white opacity-40'></span>
        <DownloadResumeButton background={'bg-gradient-to-tr from-[#7C3AED] from-60% to-[#00407c] active:bg-purple-500'} client:only='react' />
        <EmailButton classStyle={'z-10 text-3xl'} client:only='react' />
        <a href={'/'} class="text-center text-xl sm:text-3xl p-0 m-0 z-10 fixed bottom-5 text-white left-1/2 -translate-x-1/2 select-none" style="font-family: Orbitron, monospace;">
            richi<span class="text-gradient">Coder</span>
        </a>
        <EmailCopied />
    </main> 
</Layout>../modules/EmailCopied.astro../modules/EmailButton.jsx../modules/components/DownloadResumeButton