.firstLayer {
    -webkit-animation: color-change-3x 4s linear infinite alternate both;
    animation: color-change-3x 1s linear infinite alternate both;
    transition: all 1.5s ease-in-out;
  }

  @-webkit-keyframes color-change-3x {
    0% {
      background: rgb(40,40,40);
    }
   
    100% {
      background: black;
    }
  }
  @keyframes color-change-3x {
    0% {
      background: rgb(40,40,40);
    }
  
    100% {
      background: black;
    }
  }