.photo {
    background-color: purple; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 10vw;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 0;
    /* background-image: url(https://kajabi-storefronts-production.kajabi-cdn.com/kajabi-storefronts-production/themes/3005842/settings_images/zvGndHZDQXq73e25gfx7_vlcsnap-2020-11-10-16h36m27s957.png);
    background-position: top left; */
}