---
const { bioId, bioDescription, fontSize } = Astro.props;
---

<div id={bioId} class={`bio absolute text-white w-full mx-auto ${fontSize} sm:text-7xl lg:text-7xl text-center`}>{bioDescription}</div>