---
import BioComponent from "./BioComponent.astro";
---

<div style="font-family: Play;" class='w-full h-[300vh] flex flex-col items-center justify-center relative pt-40 gap-16'>
    <BioComponent ids={['bio1','bio2']} titles={['Frontend', 'Developer']} />
    <BioComponent ids={['bio3','bio4']} titles={['Self-driven', 'Career']} />
    <BioComponent ids={['bio5','bio6']} titles={['React-Next', 'Focused']} />
    <BioComponent ids={['bio7','bio8']} titles={['Born in', 'Venezuela']} />
    <BioComponent ids={['bio9','bio10']} titles={['28 years', 'Old']} />
    <BioComponent ids={['bio11','bio12']} titles={['Mechanical', 'Engineer']} />
    <BioComponent ids={['bio13','bio14']} titles={['Spanish, Portuguese', 'English']} />
</div>