---
import BioComponent from "./BioComponent.astro";

---

<div class='w-full h-[200vh] flex flex-col items-center justify-start absolute top-[110vh] pt-40'>
    <BioComponent ids={['bio1','bio2']} titles={['Frontend', 'Developer']} />
    <BioComponent ids={['bio3','bio4']} titles={['Self-driven', 'Career']} />
</div>