---
import Talk from "./Talk.astro";
import Title from "./Title.astro";
import Socials from "./Socials.astro";
import Reviews from "./Reviews.astro";
---

<div
  class="contactContainer relative w-full h-fit bg-[rgb(10,10,10)] text-lg overflow-hidden z-50"
>
  <!-- <BlurLayer id="contact-blur" /> -->
  <div class="w-full pt-6 sm:pt-24 relative z-10">
    <Title
      id="contact-title"
      title="Contact"
      preTitle="richi"
      titleClass="mx-auto text-6xl sm:text-9xl"
    />
  </div>
  <!-- world Map -->
  <!-- <div class="w-[200vw] sm:w-full h-fit relative z-40"> -->
  
    <Reviews />
  <!-- </div> -->
  <svg
    viewBox="0 0 1024 1024"
    class="absolute bottom-0  -z-10 h-[64rem] w-[64rem]  [mask-image:radial-gradient(closest-side,white,transparent)]  left-1/2 translate-y-2/3 -translate-x-1/2"
    aria-hidden="true"
  >
    <circle
      cx="512"
      cy="512"
      r="512"
      fill="url(#759c1415-0410-454c-8f7c-9a820de03641)"
      fill-opacity="0.6"></circle>
    <defs>
      <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
        <stop stop-Color="#777"></stop>
        <stop offset="1" stop-Color="blue"></stop>
      </radialGradient>
    </defs>
  </svg>
  <div id='contact-block' class='flex flex-col w-full h-fit sm:flex-row'>
    <Talk />
    <Socials />
  </div>
  
    <div class='w-full flex flex-row items-center justify-center py-2 '>
      <div
        style="font-family: Orbitron;"
        class="p-0 m-0 text-white "
      >
        <h2 class="text-center p-0 m-0">
          richi<span class="text-gradient">Coder</span>
        </h2>
      </div>
  </div>
</div>