<div class="contactContainer relative w-full h-screen bg-[rgb(10,10,10)] text-lg overflow-hidden">
    <button style='font-family: Play;' class='contact absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 text-white text-lg sm:text-7xl border-red-500 px-20 py-10 '>CONTACT</button>
    <svg
              viewBox="0 0 1024 1024"
              class="absolute top-1/2 left-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:translate-y-0 lg:-translate-x-1/2"
              aria-hidden="true"
            >
              <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.6" />
              <defs>
                <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
                  <stop stop-Color="#7775D6" />
                  <stop offset="1" stop-Color="blue" />
                </radialGradient>
              </defs>
            </svg> 
</div>
  