---
import DataForm from "./DataForm";

---
<div class="contactFormBlock flex flex-col items-center justify-center h-full w-full bg-[rgb(20,20,20)]"> 
            <div class="m-auto relative h-3/4 sm:w-11/12 isolate overflow-hidden px-6 shadow-2xl sm:rounded-3xl sm:px-16 md:pt-1 lg:flex lg:gap-x-20 lg:px-24 lg:pt-0 bg-black">
                <svg
                  viewBox="0 0 1024 1024"
                  class="absolute top-1/2 left-1/2 -z-10 h-[64rem] w-[64rem] -translate-y-1/2 [mask-image:radial-gradient(closest-side,white,transparent)] sm:left-full sm:-ml-80 lg:left-1/2 lg:ml-0 lg:translate-y-0 lg:-translate-x-1/2"
                  aria-hidden="true"
                >
                  <circle cx="512" cy="512" r="512" fill="url(#759c1415-0410-454c-8f7c-9a820de03641)" fill-opacity="0.7" />
                  <defs>
                    <radialGradient id="759c1415-0410-454c-8f7c-9a820de03641">
                      <stop stop-Color="#7775D6" />
                      <stop offset="1" stop-Color="blue" />
                    </radialGradient>
                  </defs>
                </svg>
                <div class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full text-center lg:mx-0 lg:flex-auto lg:text-left h-full flex flex-col items-center justify-center ">
                    <div class='w-full h-full text-white'>
                            
                            <div class='relative w-full h-full bg-black'>
                              <DataForm client:only='react' />
                              <div class='absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full h-full flex flex-col items-center justify-center'>
                                  <div>CARGANDO</div>
                              </div>
                            </div>
                    </div>
                </div>
            </div>
</div>

<style>
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
} 
.contactFormLogo {
  font-family: 'Orbitron';
}
</style>