---
// First animation Goes here!
// This is the first thing to load since this is HTML, requiring css and js* preload added to Layout, and font preload
// * It would be better to not to use JS at first animation for simplyfing things, it can run without JS
// Nevertheless, JS must be downloaded when running the CSS animation for taking this first layer from viewport
---
<div class="fixed top-0 left-0 overflow-clip h-screen w-screen bg-pink-50 z-[999] first-animation hidden">First Animation</div>