---

---
<div class="w-full h-screen flex flex-col items-center justify-center sticky top-0 left-0">
    <div class="p-0 m-0"><h1 class="text-center p-0 m-0">richi<span class="text-gradient">CODER</span></h1></div>
</div>



<style>
    h1 {
		font-size: 4.5rem;
		font-weight: 800;
		margin: 0;
		color: white;
        font-family: system-ui;
	}
    @media only screen and (min-width: 1020px) {
        h1 {
            font-size: 6rem;
        }
    }
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>