---
import "./styles/photo.css"
import Title from "./Title.astro";
---
<div id="photo" class="photo text-white">
    <div class="photolayer"></div>
    <div class="titleContainer absolute top-16 left-0 w-fit h-fit z-50">
        <Title id="shortbio-title" title="Bio" />
    </div>
    <div id="bio1" class="bio relative text-black w-full mx-auto text-7xl h-1/3 opacity-0 z-10">Frontend Developer</div>
    <div id="bio2" class="bio relative text-black w-full mx-auto text-7xl h-1/3 opacity-0 ">Self-driven Developer</div>
</div>