---
import "./styles/photo.css"
import Title from "./Title.astro";
---
<div id="photo" class="photo text-white">
    <div class="photolayer"></div>
    <div class="titleContainer absolute top-0 left-0 w-fit h-fit ">
        <Title id="shortbio-title" title="Bio" class='absolute top-0' />
    </div>
    <!-- <div class="text-sm ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid doloremque, delectus quos expedita magnam, repellendus deleniti voluptas dolorum quam repudiandae accusantium voluptates. Nemo non ex possimus fuga commodi doloremque cum facilis ipsa. Natus corrupti iure consequatur, excepturi sapiente modi quisquam a eum, nobis, quas aliquam eligendi ipsam architecto unde corporis.</div> -->
</div>