---
import SkillsTitle from "./SkillsTitle.astro";
import "./styles/photo.css"
import Title from "./Title.astro";
---
<div id="photo" class="photo text-white fixed z-50">
    <div class='absolute top-0 left-0 h-screen w-full z-0 myphoto'><img src="richicoder.png" alt="richicoder.com" class='absolute top-0 left-0 h-screen w-full object-cover object-right'></div>
    <SkillsTitle /> 
    <div class="photolayer "></div>
    
    <div class="titleContainer absolute top-16 left-0 w-fit h-fit z-40">
        <!-- <Title id="shortbio-title" title="Bio" preTitle='richi' /> -->
    </div>

</div>