---
import Precomponent from "./Precomponent.astro";
import "./styles/shortbio.css"
const { id, ownClass } = Astro.props;
---
<div id={id} class={`shortbio w-screen ${ownClass}`}>
    <Precomponent />
    <slot />
</div>