---
import Photo from "./Photo.astro";
import Precomponent from "./Precomponent.astro";
import "./styles/shortbio.css"
import Title from "./Title.astro";
---
<div class="shortbio w-screen">
    <Precomponent />
    <!-- <div class="absolute top-0 left-0 -translate-y-1/2 prebio w-screen h-2/3 -mb-10"></div> -->
    <!-- <Title id="shortbio-title" title="Bio" /> -->
    <!-- <div class="bio relative text-white mx-auto px-52 text-2xl">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, distinctio quaerat! Error quo a rem. Officia impedit quibusdam eius adipisci optio exercitationem nam, numquam deserunt? Quae corporis vero velit maiores hic vitae architecto atque distinctio rerum voluptas in doloribus molestias nemo quo saepe, vel minima ea ab, quam amet ad.</div> -->
</div>