---
import Photo from "./Photo.astro";
import Precomponent from "./Precomponent.astro";
import "./styles/shortbio.css"
import Title from "./Title.astro";
const { id, ownClass } = Astro.props;
---
<div id={id} class={`shortbio w-screen ${ownClass}`}>
    <Precomponent />
    <slot />
</div>