---
import Title from "./Title.astro";

---

<div class='skillsTitleContainer w-full h-screen absolute top-0 left-0 pt-20 -z-10 '>
    
    <div id="slideContainer" class='absolute top-0 left-0'>
		<section class="panel blue">
			<Title id="skills-title" title="Skills" preTitle='richi' />
		</section>
		<section class="panel turqoise">
			<Title id="responsive-title" title="Design" preTitle='responsive' />
		</section>
		<section class="panel green">
			<Title id="spa-title" title="Development" preTitle='spa' />
		</section>
		<section class="panel bordeaux">
			<Title id="projectInit-title" title="Initialization" preTitle='project' />
		</section>
        <section class="panel orange">
			<Title id="others-title" title="Initialization" preTitle='project' />
		</section>
	</div>
</div>

<style>
    .skillsTitleContainer {
        perspective: 1000; 
    }
    #slideContainer {
        width: 500%;
        height: 100vh;
        display: flex;
        flex-direction: row; 
    }
    .panel {
        position: relative;
        /* float: left; */
        width: 20%;
        height: 100vh;
    }
    .blue {
        background-color: rgb(10,10,10) ;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .turqoise {
        background-color: blue;
    }
    .green {
        background-color: rgb(10,10,10);
    }
    .bordeaux {
        background-color: purple;
    }
    .orange {
        background-color: orange;
    }
</style>