<div id='socials' class='grid grid-cols-3 sm:grid-cols-1 gap-10 py-5 text-white text-6xl w-full h-fit sm:w-1/4 overflow-x-hidden'>
    <a href="https://www.linkedin.com/in/richicoder" target="_blank" class='order-6'><i class="fa-brands fa-linkedin relative w-full text-center hover:group-[fa-bounce]:"></i></a>
    <a href="https://github.com/richi-coder" target="_blank" class='order-5'><i class="fa-brands fa-github relative w-full text-center"></i></a>
    <a href="https://twitter.com/RichiCoder" target="_blank" class='order-4'><i class="fa-brands fa-twitter relative w-full text-center"></i></a>
    <a href="https://www.instagram.com/richi.coder/" target="_blank" class='order-3'><i class="fa-brands fa-instagram relative w-full text-center"></i></a>
    <a href="https://wa.me/584147197706?text=Hi%20RICHI,%20we%20are%20contacting%20you%20from" target="_blank" class='order-2'><i class="fa-brands fa-whatsapp relative w-full text-center"></i></a>
    <a href="https://medium.com/@richicoder" target="_blank" class='order-1'><i class="fa-brands fa-medium relative w-full text-center"></i></a>
</div>