<div id='socials' class='grid grid-cols-3 sm:grid-cols-1 gap-10 py-5 text-white text-6xl w-full h-fit sm:w-1/4 overflow-x-hidden'>
    <i class="fa-brands fa-linkedin relative w-full text-center order-6"></i>
    <i class="fa-brands fa-github relative w-full text-center order-5"></i>
    <i class="fa-brands fa-twitter relative w-full text-center order-4"></i>
    <i class="fa-brands fa-instagram relative w-full text-center order-3"></i>
    <i class="fa-brands fa-whatsapp relative w-full text-center order-2"></i>
    <i class="fa-brands fa-medium relative w-full text-center order-1"></i>
</div>