<div id='socials' class='grid grid-cols-3 sm:grid-cols-1 gap-10 py-5 text-white text-5xl w-full sm:w-1/4 bg-purple-600 overflow-x-hidden'>
    <i class="fa-brands fa-linkedin relative w-full text-center"></i>
    <i class="fa-brands fa-github relative w-full text-center"></i>
    <i class="fa-brands fa-twitter relative w-full text-center"></i>
    <i class="fa-brands fa-instagram relative w-full text-center"></i>
    <i class="fa-brands fa-whatsapp relative w-full text-center"></i>
    <i class="fa-brands fa-medium relative w-full text-center"></i>
</div>