<div id='socials' class='grid grid-cols-3 sm:grid-cols-1 gap-10 py-10 sm:py-5 text-white text-6xl w-full h-fit sm:w-1/4 overflow-x-hidden'>
    <a href="https://www.linkedin.com/in/richicoder" target="_blank" class='order-1 sm:order-6'><i class="fa fa-linkedin relative w-full text-center z-10"></i></a>
    <a href="https://github.com/richi-coder" target="_blank" class='order-2 sm:order-5'><i class="fa fa-github relative w-full text-center"></i></a>
    <a href="https://twitter.com/RichiCoder" target="_blank" class='order-3 sm:order-4'><i class="fa fa-twitter relative w-full text-center"></i></a>
    <a href="https://www.instagram.com/richi.coder/" target="_blank" class='order-4 sm:order-3'><i class="fa fa-instagram relative w-full text-center"></i></a>
    <a href="https://wa.me/584147197706?text=Hi%20RICHI,%20we%20are%20contacting%20you%20from" target="_blank" class='order-5 sm:order-2'><i class="fa fa-whatsapp relative w-full text-center"></i></a>
    <a href="https://medium.com/@richicoder" target="_blank" class='order-6 sm:order-1'><i class="fa fa-medium relative w-full text-center"></i></a>
</div>