---
import "./styles/show.css"
---

<div id='talking' class="w-full sm:w-3/4 h-fit text-white flex flex-col items-start pl-14 sm:pl-20 md:pl-10 lg:pl-40 xl:pl-80 justify-center text-6xl sm:text-8xl gap-8 sm:gap-16 m-auto font-[Play] overflow-hidden">
    <div class="talk relative right-[400px] sm:right-[800px]">Let me</div>
    <div class="talk relative right-[400px] sm:right-[800px]">talk to you</div>
    <a target="_blank" href="/contact/" class='talk relative transition-transform duration-300 px-8 py-4 -ml-6 bg-gradient-to-tr from-[#7C3AED] from-60% to-[#00407c] active:bg-purple-500 rounded-lg right-[400px] sm:right-[800px] ladder'>
        CONTACT
    </a>
</div>