<div id='talking' class="w-full sm:w-3/4 h-fit text-white flex flex-col items-start pl-80 justify-center text-8xl gap-16 m-auto font-[Play] overflow-hidden">
    <div class="talk relative" style="right: 800px;">Let me</div>
    <div class="talk relative" style="right: 800px;">talk to you</div>
    <a target="_blank" href="https://www.linkedin.com/in/richicoder" style="right: 800px;" class='talk relative transition-all px-8 py-4 -ml-6 bg-gradient-to-tr from-[#7C3AED] from-60% to-[#00407c] active:bg-purple-500 sm:hover:from-[#00407c] sm:hover:to-[#00407c] rounded-lg sm:hover:-translate-y-4'>
        CONTACT
    </a>
    <!-- Update contact LINK when DONE -->
</div>