<div id='talking' class="w-full sm:w-3/4 h-fit text-white flex flex-col items-start pl-80 justify-center text-8xl gap-16 m-auto font-[Play] overflow-hidden">
    <div class="talk relative" style="right: 700px;">Let me</div>
    <div class="talk relative" style="right: 700px;">talk to you</div>
    <a target="_blank" href="/contact" style="right: 700px;" class='talk relative transition-all px-6 py-4 -ml-6 bg-purple-800 active:bg-purple-500 sm:hover:bg-purple-500 rounded-lg sm:hover:translate-y-5'>
        CONTACT
    </a>
</div>
