---
import "./styles/title.css"
const { id } = Astro.props;
---
    <div id={id} class='title text-white text-5xl sm:text-8xl z-40 '>
      
            <div class="logoTitle">
            richi<span class="text-gradient">Projects</span>
            </div>
            
    </div>
