---
import "./styles/title.css"
const { id } = Astro.props;
---
    <div id={id} class='title text-white text-6xl sm:text-9xl z-40 pl-4 sm:pl-14'>
      
            <div class="logoTitle">
            richi<span class="text-gradient">Projects</span>
            </div>
            
    </div>
