---
import "./styles/video.css";
const { id } = Astro.props;
---

<div
  class="videoContainer relative w-full sm:w-full mx-auto z-10 h-[70vh] flex flex-col items-center justify-center -mt-1"
>
  <div id={id} class="w-full sm:w-2/3 aspect-video bg-pink-50"></div>
</div>
