---
import { useEffect, useRef } from "react"
import { scrollFunction } from "../scripts/scrollFunction";
import "./styles/video.css"
const { id } = Astro.props;
---

  <div id={id} class="videoNotShown relative bg-gray-700 aspect-video w-full sm:w-3/4 mx-auto my-40 z-50"></div>
